:root {
box-sizing: border-box;
background-color: #dfdfdf;
justify-content: space-around;

}

h1 {
  text-align: center;

}

a > img {

height: 12 rem;
margin: 4px;
}
body {

justify-content: center;
}

button { 
border-radius: 10px;    
font-size:  larger;
height: 3rem;
background-color: white;;
color: black;
font-weight: 800;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #gallery {
    justify-content: space-evenly;
  }