:root {
box-sizing: border-box;
background-color: #dfdfdf;

}

a > img {

height: 12 rem;
margin: 4px;
}


button { 
border-radius: 10px;    
font-size:  larger;
height: 3rem;
background-color: wheat;
color: violet;
font-weight: 800;

}